<h1>Welcome to StoryBooks</h1>
<p> Version 1.0.0</p>
<p>Post Stories and Diaries Here as Public or Private</p>
<p>Do You have that Amazing Fiction in your Head Lets read it.</p>
{{#if user}}

{{else}}
    <a href="/auth/google" class=" btn red darken-1"><i class="fa fa-google left"></i>Login with Google</a>
{{/if}}