<h2>Add Your Stories Here</h2>
<div class="row">
    <form action="/stories" method="POST" class="col-s12">
        <div class="row">
            <div class="input-field">
                <label for="title">Title</label>
                <input type="text" name="title">
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">Unpublished</option>
                    <label for="status">Status</label>
                </select>
            </div>
        </div>

        <div class="row">
            <p>
                
                <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" checked= "checked">
                <label for="filled-in-box">Allow Comments</label>
            </p>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Narrate your Story Here:</h5>
                <textarea name="body"  cols="30" rows="10"></textarea>
            </div>
        </div>
        <input type="submit" value="Save" class="btn">
    </form>
</div>